@page "/"
@page "/login"

@layout RegisterComponent
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IUserService userService

<div class="d-flex vh-100 position-relative overflow-hidden" style="background: url('/Assets/bglogin.jpg') no-repeat center center; background-size: cover; color: #eaeaea;">
    <div class="background-blur" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.5);"></div>

    <div class="d-flex justify-content-center align-items-center w-100 position-relative">
        <div class="card p-4 shadow" style="width: 22rem; background-color: #333; color: #eaeaea;">
            <h2 class="text-center mb-4">Log-In</h2>

            <EditForm Model="@newUser_" OnValidSubmit="HandleLogin">

                <DataAnnotationsValidator />

                <div class="mb-3">
                    <label for="emailInput" class="form-label text-light">Email</label>
                    <InputText @bind-Value="newUser_.Email" id="emailInput_" class="form-control bg-dark text-light" placeholder="name@example.com" />
                    <ValidationMessage For="@(() => newUser_.Email)" />
                </div>

                <div class="mb-3">
                    <label for="passwordInput" class="form-label text-light">Password</label>
                    <InputText @bind-Value="newUser_.Password" id="passwordInput_" type="password" class="form-control bg-dark text-light" placeholder="password" />
                    <ValidationMessage For="@(() => newUser_.Password)" />
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary w-75" @onclick="HandleLogin">Log in</button>
                </div>

                <div class="text-center mt-4">
                    <p>New Here? <a href="/signup" class="text-decoration-none">SignUp</a></p>
                </div>

                <div class="text-danger text-center mt-3">@loginError</div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private User newUser_ = new User();
    private string loginError = "";

    private async Task HandleLogin()
    {
        try
        {
            bool result = await userService.AuthenticateUserAsync(newUser_.Email, newUser_.Password);
            if (result)
            {
                if (newUser_.Email.Equals("huzaif@FoodBistro.com", StringComparison.OrdinalIgnoreCase))
                {
                    Navigation.NavigateTo("/addprod");
                }
                else
                {
                    Navigation.NavigateTo("/home");
                }
            }
            else
            {
                loginError = "Invalid email or password.";
            }
        }
        catch (Exception ex)
        {
            loginError = "An error occurred. Please try again later.";
        }
    }
}


